* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.portfolio {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #723d5d, #003d5d);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.my-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.my-info h2 {
  position: relative;
  top: 10%;
  z-index: 5;
  font-size: 8rem;
  color: #eee;
  margin: 2rem 0;
  
}

.my-contact {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;  
}

i {
  font-size: 4rem;
  cursor: pointer;
  transition: all .2s;
  z-index: 5;
  color: #000;
}

.ion-social-linkedin:hover {
  color: #007bb5;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-github:hover {
  color: #333;
}