:root {
  --bg: #F7F7F7;
  --fg: #151618;
  --darkBlue: #0B3C5D;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
  color: var(--darkBlue);
}

.App {
  background-color: var(--bg);
  height: 100vh;
  width: 100%;
  color: var(--fg);;
}


a {
  text-decoration: none !important;
  color: var(--fg);;
  margin: 0 2rem;
}

a:hover {
  color: var(--fg);;
  text-decoration: none !important;
}

.illust {
  height: 690px;
  width: 800px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}