$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$pink: #CE0084;
$blue: #00007C;
$purple: #4848F2;
$purple4: #E6F5F9;
$white: #fff;
$black: #000;

$mont: 'Montserrat', sans-serif;
$merri: 'Merriweather', serif;
